<div class="shd">
    <div class="row mx-2">
        <div class="col-sm-6 col-md-4">
            <img src={{user?.avatar_url}}
            class="rounded-circle">
        </div>
        <div class="col-sm-6 col-md-8 text-right">
            <h3 class="bold">{{ user?.name ? user?.name : 'Missing Name' }}</h3>
            <h4>{{ user?.login }}</h4>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-md col-6 text">
            <div class="bold">
                {{ user?.followers }}
                <i class="material-icons">people</i>
            </div >
            <div>Followers</div>
        </div>
        <div class="col-md col-6 text">
            <div class="bold">
                {{ user?.following }}
                <i class="material-icons">how_to_reg</i>
            </div >
            <div>Following</div>
        </div>
        <div class="col-md col-6 text">
            <div class="bold">
                {{ user?.public_repos }}
                <i class="material-icons">book</i>
            </div >
            <div>Git Repo</div>
        </div>
        <div class="col-md col-6 text">
            <div class="bold">
                {{ user?.public_gists }}
                <i class="material-icons">device_hub</i>
            </div >
            <div>Git Gist</div>
        </div>
    </div>
</div>