<div class="shd">
    <div class="row mx-2">
        <div class="col-sm-6 col-md-4">
            <img src="https://avatars2.githubusercontent.com/u/706?v=4" class="rounded-circle">
        </div>
        <div class="col-sm-6 col-md-8 text-right">
            <h3 class="bold">Name</h3>
            <h4>UserName</h4>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-md-3 col-sm-6 text">
            <div class="bold">56</div >
            <div>Followers</div>
        </div>
        <div class="col-md-3 col-sm-6 text">
            <div class="bold">56</div >
            <div>Following</div>
        </div>
        <div class="col-md-3 col-sm-6 text">
            <div class="bold">56</div >
            <div>Git Repo</div>
        </div>
        <div class="col-md-3 col-sm-6 text">
            <div class="bold">56</div >
            <div>Git Gist</div>
        </div>
    </div>
</div>