<div class="wrapper container">
 
    <div class="profile">
      <div class="profile__img">
        <img [src]="profile.avatar_url" alt="profile card">
      </div>
  
      <div class="profile__cnt">
        <div class="profile__name">{{ profile.name }}</div>
        <div class="profile__txt">
            <i class="pi pi-user"></i>
            <strong>
              <i class="material-icons md-15">account_circle</i>
              {{ profile.login }}
            </strong>
        </div>
        <div class="profile-loc"> 
          <span class="profile-loc__txt">
            <i class="material-icons">
              where_to_vote
            </i>
            {{ profile.location ? profile.location : 'Missing Location' }}
          </span>
        </div>
  
        <div class="profile-inf">
          <div class="profile-inf__item">
          <div class="profile-inf__title">{{ profile.public_repos }}</div>
            <div class="profile-inf__txt">Public Repos</div>
          </div>
  
          <div class="profile-inf__item">
            <div class="profile-inf__title">{{ profile.public_gists }}</div>
            <div class="profile-inf__txt">Public Gist</div>
          </div>

          <div class="profile-inf__item">
            <div class="profile-inf__title">{{ profile.followers }}</div>
            <div class="profile-inf__txt">Followers</div>
          </div>
  
          <div class="profile-inf__item">
            <div class="profile-inf__title">{{ profile.following }}</div>
            <div class="profile-inf__txt">Following</div>
          </div>
        </div>
      </div>  
    </div>
  
  </div>