<div class="wrapper">
 
    <div class="profile">
      <div class="profile__img">
        <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1537638518/Ba%C5%9Fl%C4%B1ks%C4%B1z-1.jpg" alt="profile card">
      </div>
  
      <div class="profile__cnt">
        <div class="profile__name">Muhammed Erdem</div>
        <div class="profile__txt">Front-end Developer from <strong>Mesopotamia</strong></div>
        <div class="profile-loc"> 
          <span class="profile-loc__txt">
            Istanbul, Turkey
          </span>
        </div>
  
        <div class="profile-inf">
          <div class="profile-inf__item">
            <div class="profile-inf__title">1598</div>
            <div class="profile-inf__txt">Followers</div>
          </div>
  
          <div class="profile-inf__item">
            <div class="profile-inf__title">65</div>
            <div class="profile-inf__txt">Following</div>
          </div>
  
          <div class="profile-inf__item">
            <div class="profile-inf__title">123</div>
            <div class="profile-inf__txt">Articles</div>
          </div>
  
          <div class="profile-inf__item">
            <div class="profile-inf__title">85</div>
            <div class="profile-inf__txt">Works</div>
          </div>
        </div>
      </div>  
    </div>
  
  </div>