<div class="shd">
    <h2>Repo Name</h2>
    <br />
    The unofficial GitHub Cards. Card for your GitHub profile, card for your GitHub repositories. - lepture/github-cards.
    <br />
    <br />
    <div class="d-flex justify-content-around">
        <div class="row">
            <div class="col-md-4 col-sm-6 text">
                <div class="bold">56</div>
                <div>Commits</div>
            </div>
            <div class="col-md-4 col-sm-6 text">
                <div class="bold">56</div>
                <div>Forks</div>
            </div>
            <div class="col-md-4 col-sm-12 text">
                <div class="bold">56</div>
                <div>Stars</div>
            </div>
        </div>
    </div>
</div>