<div class="shd">
    <h3>{{ repo.name }}</h3>
    <br />
    {{ repo.description ? repo.description : 'No Description' }}
    <br />
    <br />
    <div class="row">
        <div class="col-md-4 col-6 text">
            <div class="bold">
                {{ repo.size | size: 0 : 'KB' }}<i class="material-icons">folder_open</i>
            </div>
            <div>Size</div>
        </div>
        <div class="col-md-4 col-6 text">
            <div class="bold">
                {{ repo.forks_count }}
                <i class="material-icons">device_hub</i>
            </div>
            <div>Forks</div>
        </div>
        <div class="col-md-4 col-12 text">
            <div class="bold">
                {{ repo.stargazers_count }}
                <i class="material-icons">star</i>
            </div>
            <div>Stars</div>
        </div>
    </div>
</div>